.contenedorTarjetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

article {
  min-width: 16em;
}

@media (min-width: 1024px) {
  .contenedorTarjetas {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contenedorTarjetas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .contenedorTarjetas {
    grid-template-columns: 1fr;
  }
}
