.contenido {
  padding-top: 22px;
}
.image {
  padding: 8px;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.image img {
  border-radius: 8px;
  max-height: 600px;
  min-height: 500px;
}

.detalle {
  text-align: left;
  padding: 8px;
}

.titulo p {
  font-size: 3.5em;
  font-weight: lighter;
}
.descripcion {
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 500;
  color: rgb(51, 31, 15);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.descripcion p {
  font-style: italic;
}

.compra {
  padding: 35px 22px;
  font-weight: 500;
  color: rgb(51, 31, 15);
}
